.container {
}
.banner {
  padding: 163px 0;
  background-image: url('../../assets/team/banner.png');
  background-size: cover;
  background-position: center;
  .contentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1s ease;

    h3 {
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      padding: 50px 0;
    }
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #ffffff;
      padding: 10px;
      margin-bottom: 22px;
    }
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      padding: 10px;
      text-align: center;
      padding: 0 15%;
      word-break: keep-all;
    }
  }
  @media screen and (max-width: 1023px) {
    padding: 134px 0 129px;
    .contentArea {
      h3 {
        font-size: 36px;
        line-height: 43px;
        padding: 30px 0;
      }
      h2 {
        font-size: 24px;
        line-height: 29px;
      }
      p {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 105px 0 95px;
    .contentArea {
      h3 {
        font-size: 24px;
        line-height: 29px;
        padding: 10px 0;
        margin-bottom: 29px;
      }
      h2 {
        display: none;
      }
      p {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.contentArea {
  max-width: 1312px;
  margin: 0 auto;
}
section.contentArea {
  padding: 80px 16px 207px;
  @media screen and (max-width: 1023px) {
    padding: 60px 16px 144px;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 16px 80px;
  }
}

.leadershipWrap,
.investmentWrap,
.operationWrap,
.positionWrap {
  h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #090b0f;
    padding: 20px 0;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 1023px) {
    h3 {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 0px;
    }
  }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 24px;
      line-height: 29px;
    }
  }
  & > ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 32px;
    & > li {
      width: 100%;
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        align-items: flex-end;
        padding: 10px 0;
        border-bottom: 1px solid #d9d9d9;
        gap: 10px;
        h5 {
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          color: #252629;
          padding: 10px;
        }
        span {
          display: inline-block;
          padding: 10px 0;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #5ad8ef;
        }
      }
      .careerList {
        display: flex;
        flex-direction: column;
        min-height: 271px;
        padding-top: 10px;
        box-sizing: border-box;
        li {
          span {
            font-weight: 300;
            font-size: 20px;
            line-height: 29px;
            color: #000000;
          }
        }
      }
    }
    @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      & > li {
        .top {
          gap: 7px;
          h5 {
            font-size: 26px;
            line-height: 31px;
          }
          span {
            font-size: 16px;
            line-height: 19px;
          }
        }
        .careerList {
          min-height: 228px;
          li {
            span {
              font-size: 19px;
              line-height: 27px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 21px;
      & > li {
        .top {
          gap: 4px;
          h5 {
            font-size: 20px;
            line-height: 24px;
            padding: 10px 0;
          }
          span {
            font-size: 12px;
            line-height: 14px;
          }
        }
        .careerList {
          min-height: 176px;
          li {
            span {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.banner {
  position: relative;
  .contentArea.isShowing {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.observer {
  position: absolute;
  top: 20%;
  bottom: 20%;
}
.employeeList {
  position: relative;
  li {
    opacity: 0;
    transform: translate(0, 100px);
    transition: opacity 1s ease, transform 1s ease;
  }
  &.isShowing {
    li {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
.english {
  .leadershipWrap,
  .investmentWrap,
  .operationWrap,
  .positionWrap {
    & > ul > li > .top {
      @media screen and (max-width: 450px) {
        flex-direction: column;
        align-items: flex-start;
        h5 {
          padding: 5px;
        }
        span {
          padding: 5px;
        }
      }
      h5 {
        font-size: 20px;
        line-height: 24px;
      }
      span {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}
