.container {
  height: 100%;
  background: url('../../../assets/background/fifthBg.jpg');
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 156px 0 184px;
  }
  .intersecter {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 20%;
    z-index: -1;
  }
}
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.7s ease;
  h3 {
    display: inline-block;
    padding: 10px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #ffffff;
  }
  span {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #ffffff;
    text-align: center;
  }
  p {
    margin-top: 21px;
    padding: 10px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    max-width: 440px;
    word-break: keep-all;
  }
  // @media screen and (max-width: 1920px) {
  //   h3 {
  //     font-size: 3.3vw;
  //     line-height: 3.8vw;
  //   }
  //   span {
  //     font-size: 3.1vw;
  //     line-height: 3.8vw;
  //   }
  //   p {
  //     font-size: 1.2vw;
  //     line-height: 1.8vw;
  //   }
  // }
  @media screen and (max-width: 1023px) {
    h3,
    span {
      font-size: 34px;
      line-height: 40px;
    }
    p {
      font-size: 21px;
      line-height: 28px;
    }
  }

  @media screen and (max-width: 480px) {
    // h3 {
    //   font-size: 8.5vw;
    //   line-height: 10.4vw;
    // }
    h3,
    span {
      font-size: 24px;
      line-height: 28px;
    }
    p {
      font-size: 3.7vw;
      line-height: 4.8vw;
    }
  }
}
.logoListWrap {
  font-size: 100px;
  color: white;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.7s ease;
}

.container.isIntersected .text,
.container.isIntersected .logoListWrap {
  opacity: 1;
  transform: translateY(0);
}
