.containerWrap {
  height: 100%;
  position: relative;
}
.containerWrap .intersecter {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: -1;
}
@keyframes intersectAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes intersectAnimation2 {
  0% {
    opacity: 0;
    transform: translateY(calc(-50% + 100px));
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
.container.pc {
  background: #00050f;
  height: 100%;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .left {
    width: 48.8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .contentWrap {
      padding-right: 48px;
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.7s ease;
      max-width: 500px;
      @media screen and (max-width: 1480px) {
        max-width: 400px;
        padding-right: 24px;
      }
      h3 {
        font-family: 'Pretendard';
        font-weight: 700;
        font-size: 38px;
        line-height: 44px;
        color: #ffffff;
        padding: 10px;
        margin-bottom: 37px;
      }
      p {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
        color: #ffffff;
        padding: 10px;
        margin-bottom: 61px;
      }
      .btns {
        display: flex;
        gap: 32px;
        img {
          width: 80px;
          height: 80px;
          cursor: pointer;
          &:last-child {
            transform: rotate(180deg);
          }
        }
      }
      @media screen and (max-width: 1023px) {
        h3 {
          font-size: 34px;
          line-height: 40px;
          margin-bottom: 16px;
        }
        p {
          font-size: 21px;
          line-height: 28px;
        }
        .btns img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  .right {
    width: 51.2%;
    position: relative;
    & > img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 80%;
      max-width: 645px;
      max-height: 100%;
    }
    .slider {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      padding-left: 31px;
      opacity: 0;
      transform: translate(100px, -50%);
      transition: all 0.7s ease;
      .slide {
        width: 416px;
        aspect-ratio: 1/1.219;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:global(.slide0) {
          background: rgba(51, 103, 182, 0.45);
        }
        &:global(.slide1) {
          background: rgba(47, 245, 234, 0.45);
        }
        &:global(.slide2) {
          background: rgba(245, 178, 47, 0.45);
        }
        &:global(.slide3) {
          background: rgba(173, 108, 255, 0.45);
        }
        h3 {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: #ffffff;
          padding: 10px;
        }
        span {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 700;
          font-size: 48px;
          line-height: 60px;
          color: #ffffff;
          display: inline-block;
          padding: 10px;
        }
        @media screen and (max-width: 1920px) {
          width: 21.666vw;
          h3 {
            font-size: 1.041vw;
            line-height: 1.302vw;
          }
          span {
            font-size: 2.5vw;
            line-height: 3.125vw;
          }
        }
        @media screen and (max-width: 1023px) {
          width: 24vw;
          h3 {
            font-size: 1.8vw;
          }
          span {
            font-size: 2.8vw;
          }
        }
      }
    }
  }
}
.container.mobile {
  height: 100%;
  background: #00050f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 86px 0 67px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .bg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) !important;
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: left;
    // opacity: 1 !important;
    // animation: none !important;
    @media screen and (max-width: 720px) {
      width: 60%;
      aspect-ratio: 1/1.2;
    }
    @media screen and (max-width: 520px) {
      width: 70%;
      // aspect-ratio: 1/1.747;
    }
    @media screen and (max-width: 375px) {
      width: 80%;
      aspect-ratio: 1/1.747;
    }
  }
  & > h2 {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #ffffff;
    padding: 10px;
  }
  & > p {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding: 10px;
    max-width: 310px;
  }
  .slider {
    width: 100%;
    padding-left: 16px;
    margin: 60px 0 48px;
    box-sizing: border-box;
    .slide {
      width: 252px;
      height: 348px;
      aspect-ratio: 1/1.381;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &:global(.slide0) {
        background: rgba(51, 103, 182, 0.45);
      }
      &:global(.slide1) {
        background: rgba(47, 245, 234, 0.45);
      }
      &:global(.slide2) {
        background: rgba(245, 178, 47, 0.45);
      }
      &:global(.slide3) {
        background: rgba(173, 108, 255, 0.45);
      }
      h5 {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        padding: 10px;
      }
      span {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: #ffffff;
        display: inline-block;
        padding: 10px;
      }
    }
  }
  .slideBtns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 17px;
    img {
      width: 70px;
      height: 70px;
      cursor: pointer;
      &:last-child {
        transform: rotate(180deg);
      }
    }
  }
  & > * {
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateY(100px);
  }
}

.container.pc.isIntersected .left .contentWrap,
.container.mobile.isIntersected > * {
  opacity: 1;
  transform: translateY(0);
}
.container.pc.isIntersected .right .slider {
  opacity: 1;
  transform: translate(0px, -50%);
}
