.containerWrap {
  height: 100%;
  position: relative;
}
.containerWrap .intersecter {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: -1;
}
// @keyframes intersectAnimation {
//   0% {
//     opacity: 0;
//     transform: translateY(100px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
.container.pc {
  height: 100%;
  display: flex;
  position: relative;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .contentWrap {
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 2s linear;
    & > div:first-child {
      // box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding-left: 17.7vw;
      min-width: 352px;
      max-width: 384px;
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.7s ease;
      @media screen and (max-width: 1023px) {
        padding-left: 10vw;
      }
      h3 {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 700;
        font-size: 38px;
        line-height: 44px;
        color: #1e1e1e;
        padding: 2.08vw 0px;
        @media screen and (max-width: 1023px) {
          font-size: 34px;
          line-height: 40px;
        }
      }
      .contentDetailSliderPC {
        width: 100%;
        :global(.swiper-slide) {
          opacity: 0 !important;
          transition: opacity 0.8s linear;
          &:global(.swiper-slide-active) {
            opacity: 1 !important;
            .slide {
              transform: translateY(0);
            }
          }
        }
        .slide {
          transform: translateY(50px);
          transition: all 0.5s linear;
          h4 {
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 700;
            font-size: 23px;
            line-height: 30px;
            color: #1e1e1e;
            max-width: 300px;
            @media screen and (max-width: 1023px) {
              font-size: 21px;
              line-height: 28px;
            }
          }
          p {
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(30, 30, 30, 0.5);
            white-space: nowrap;
          }
        }
      }
      .contentArea {
        padding: 16.5px 10px 26.5px;
        height: 50px;
        box-sizing: border-box;
        position: relative;
        .content {
          position: absolute;
          top: 16.5px;
          left: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          opacity: 0;
          transition: all 1s;
          transform: translate(0, 50px);
          &.hit {
            opacity: 1;
            transform: translate(0, 0);
          }
          h4 {
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 700;
            font-size: 32px;
            line-height: 50px;
            color: #1e1e1e;
            max-width: 300px;
            word-break: keep-all;
          }
          p {
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(30, 30, 30, 0.5);
            white-space: nowrap;
          }
        }
      }
      .slideNextBtn {
        width: 79px;
        height: 79px;
        background: #1e1e1e;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 70px 0 0;
        z-index: 1;
        @media screen and (max-width: 1200px) {
          margin: 70px 0 0;
        }
        img {
          transform: rotate(180deg);
          width: 24px;
          height: 24px;
        }
      }
      @media screen and (max-width: 1023px) {
        .contentArea {
          h4 {
            font-size: 22px !important;
            line-height: 29px !important;
          }
        }
      }
    }
    .sliderWrap {
      // flex-grow: 1;
      padding-top: 300px;
      position: relative;
      z-index: 10;
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transform: translate(100px, 0);
      transition: all 0.7s ease;
      @media screen and (max-width: 1920px) {
        padding-top: 14vw;
      }
      @media screen and (max-width: 1400px) {
        padding-top: 6vw;
      }
      @media screen and (max-width: 1200px) {
        padding-top: 0;
      }
      & > div {
        padding-left: 31px;
        width: 100%;
      }
      .slideWrap {
        width: 416px;
        aspect-ratio: 1/1.243;
        border-radius: 20px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        .slideTitle {
          padding: 10px 20px;
          height: 42.553%;
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 700;
          font-size: 32px;
          line-height: 50px;
          color: #ffffff;
          word-break: keep-all;
        }
        &:global(.slide0) {
          background-image: url('../../../assets/background/aboutSlide01.png');
        }
        &:global(.slide1) {
          background-image: url('../../../assets/background/aboutSlide02.png');
        }
        &:global(.slide2) {
          background-image: url('../../../assets/background/aboutSlide03.png');
        }
        &:global(.slide3) {
          background-image: url('../../../assets/background/aboutSlide04.png');
        }
      }
      @media screen and (max-width: 1920px) {
        .slideWrap {
          width: 21.666vw;
          .slideTitle {
            font-size: 1.666vw;
            line-height: 2.604vw;
          }
        }
      }
      @media screen and (max-width: 1023px) {
        .slideWrap {
          width: 27.666vw;
          .slideTitle {
            font-size: 2.366vw;
            line-height: 2.604vw;
          }
        }
      }
    }
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 43.3%;
    height: 100%;
    background: url('../../../assets/background/aboutBg.png');
    background-size: cover;
    background-position: right;
  }
}
.container.mobile {
  // background-color: red;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .bg {
    height: 46.2%;
    background: url('../../../assets/background/aboutBg.png');
    background-size: cover;
    background-position: top right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .content {
    max-width: 343px;
    width: 100%;
    // background-color: white;
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    & > * {
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.7s ease;
    }
    h3 {
      font-family: 'Spoqa Han Sans Neo';
      font-weight: 700;
      font-size: 34px;
      line-height: 40px;
      color: #ffffff;
      padding: 40.5px 10px;
    }
    .sliderWrap {
      position: relative;
      flex-shrink: 1;
      .nextBtn {
        background: #252629;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -26px;
        right: 0;
        width: 69px;
        height: 69px;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
          transform: rotate(180deg);
        }
      }
      .slider {
        filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
        position: relative;
        border-radius: 16px;

        .slide {
          width: 100%;
          aspect-ratio: 1/1.216;
          background-size: cover;
          padding-top: 53px;
          overflow: hidden;
          span {
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 700;
            font-size: 32px;
            line-height: 50px;
            color: #ffffff;
            display: inline-block;
            padding: 10px 20px;
          }
          &:global(.slide0) {
            background-image: url('../../../assets/background/aboutSlide01.png');
          }
          &:global(.slide1) {
            background-image: url('../../../assets/background/aboutSlide02.png');
          }
          &:global(.slide2) {
            background-image: url('../../../assets/background/aboutSlide03.png');
          }
          &:global(.slide3) {
            background-image: url('../../../assets/background/aboutSlide04.png');
          }
        }
      }
    }
    .contentDetailSlider {
      margin-top: 40px;
      padding-bottom: 30px;
      width: 100%;
      :global(.swiper-slide) {
        opacity: 0 !important;
        transition: opacity 0.8s linear;
        &:global(.swiper-slide-active) {
          opacity: 1 !important;
          .slide {
            transform: translateY(0);
          }
        }
      }
      .slide {
        transform: translateY(50px);
        transition: all 0.5s linear;
        h4 {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 700;
          font-size: 21px;
          line-height: 34px;
          color: #1e1e1e;
        }
        p {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: rgba(30, 30, 30, 0.5);
          padding: 10px 0;
        }
      }
    }
  }
}

.container.mobile.isIntersected .content > * {
  opacity: 1;
  transform: translateY(0);
}
.container.pc.isIntersected .contentWrap > div:first-child {
  opacity: 1;
  transform: translateY(0);
}
.container.pc.isIntersected .contentWrap .sliderWrap {
  opacity: 1;
  transform: translate(0, 0);
}
