.container {
  // background: url('../../../assets/background/test.mp4');
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100%;
  font-size: 0px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  @media screen and (max-width: 767px) {
    height: 750px;
  }
  // height: 100%;
  // aspect-ratio: 1/2.16;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .textWrap {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding-left: 21.666%;
    z-index: 1;
    h1 {
      font-weight: 700;
      font-size: 38px;
      line-height: 44px;
      color: #ffffff;
      padding: 10px 0;
    }
    p {
      font-weight: 300;
      font-size: 23px;
      line-height: 30px;
      color: #ffffff;
    }
    @media screen and (max-width: 1023px) {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 34px;
        line-height: 40px;
      }
      p {
        padding: 10px 37.5px;
        text-align: center;
        font-size: 21px;
        line-height: 28px;
      }
    }
    // @media screen and (max-width: 767px) {
    //   h1 {
    //     font-size: 32px;
    //     line-height: 39px;
    //   }
    // }
  }
}
