.container {
  background: url('../../../assets/background/mainBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/2.16;
}
