.containerWrap {
  height: 100%;
  position: relative;
}
.containerWrap .intersecter {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: -1;
}
@keyframes intersectAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container.pc {
  display: flex;
  height: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .left {
    background: url('../../../assets/background/portfolioBg.png');
    background-size: cover;
    width: 49.1%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .textWrap {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -30px;
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.7s ease;
      span {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 700;
        font-size: 128px;
        line-height: 80px;
        color: #ffffff;
      }
      p:nth-child(2) {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 700;
        font-size: 48px;
        line-height: 66px;
        color: #ffffff;
        margin-bottom: 25px;
        padding: 10px;
      }
      p:last-child {
        font-family: 'Spoqa Han Sans Neo';
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        max-width: 630px;
      }
      @media screen and (max-width: 1920px) {
        span {
          font-size: 6.666vw;
          line-height: 4.166vw;
        }
        p:nth-child(2) {
          font-size: 2.5vw;
          line-height: 3.437vw;
          margin-bottom: 1.302vw;
          padding-top: 0.52vw;
          padding-bottom: 0.52vw;
        }
        p:last-child {
          font-size: 1.25vw;
          line-height: 1.77vw;
          max-width: 32.8vw;
          padding-top: 0.52vw;
          padding-bottom: 0.52vw;
        }
      }
      @media screen and (max-width: 1520px) {
        p:nth-child(2) {
          font-size: 3vw;
          line-height: 3.437vw;
        }
        p:last-child {
          font-size: 1.8vw;
          line-height: 2.37vw;
        }
      }
      @media screen and (max-width: 1023px) {
        p:last-child {
          max-width: 40.8vw;
        }
      }
    }
  }
  .right {
    background-color: white;
    width: 50.9%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 144px;
    box-sizing: border-box;
    @media screen and (max-width: 1920px) {
      padding-left: 5%;
      ul li .title h3 {
        font-size: 1.875vw !important;
        line-height: 2.343vw !important;
      }
      ul {
        width: 30vw !important;
      }
    }
    @media screen and (max-width: 1495px) {
      ul {
        width: 42vw !important;
        li {
          padding: 20px 0 0 !important;
        }
      }
    }
    @media screen and (max-width: 1023px) {
      ul li .title h3 {
        font-size: 2.275vw !important;
        line-height: 2.543vw !important;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 528px;
      opacity: 0;
      transform: translate(100px, 0);
      transition: all 0.7s ease;
      li {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #000000;
        padding: 30px 0 10px;
        &.isOpen {
          p {
            max-height: 100px;
          }
          .title {
            img {
              transform: rotate(45deg);
            }
          }
        }
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 6px 30px 0;
          cursor: pointer;
          h3 {
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 700;
            font-size: 36px;
            line-height: 45px;
            color: #1e1e1e;
          }
          img {
            width: 30px;
            height: 30px;
            transform: rotate(0);
            transition: all 0.3s linear;
          }
        }
        p {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.03em;
          color: #1e1e1e;
          max-height: 0px;
          overflow: hidden;
          transform-origin: top;
          transition: all 0.5s linear;
          padding-right: 20%;
        }
      }
    }
  }
}
.container.mobile {
  background: url('../../../assets/background/portfolioBg.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 44px 16px 108px;
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    display: none;
  }
  & > span {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    font-size: 128px;
    // line-height: 128px;
    margin-bottom: -50px;
    color: #ffffff;
  }
  & > h2:nth-child(2) {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
  }
  & > p:nth-child(3) {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
  }
  .infomationWrap {
    width: 100%;
    margin-top: 47px;
    max-width: 343px;
    ul {
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.35);
      backdrop-filter: blur(10px);
      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.45);
        &.isOpen {
          .detail {
            max-height: 200px;
          }
          .title img {
            transform: rotate(45deg);
          }
        }
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 15px 10px 0;
          cursor: pointer;
          span {
            display: inline-block;
            font-family: 'Spoqa Han Sans Neo';
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: white;
            padding: 10px;
          }
          img {
            width: 24px;
            height: 24px;
            transition: all 0.5s;
          }
        }
        .detail {
          height: 116px;
          max-height: 0;
          overflow: hidden;
          transition: all 0.5s;
          transform-origin: top;
          padding: 0 10px;
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: white;
            padding: 10px 8.5px;
            align-items: center;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            // padding-right: 20%;
          }
        }
      }
    }
  }
  & > * {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.7s ease;
  }
}

.container.mobile.isIntersected > * {
  opacity: 1;
  transform: translateY(0);
}
.container.pc.isIntersected .left > .textWrap {
  opacity: 1;
  transform: translateY(0);
}
.container.pc.isIntersected .right > ul {
  opacity: 1;
  transform: translateY(0);
}
