.container {
  background: #f5f7f9;
}
.banner {
  // padding-top: 80px;
  background-image: url('../../assets/portfolio/banner.png');
  background-size: cover;
  background-position: center;
  height: 652px;
  padding: 0 18px;
  position: relative;
  z-index: 1;
  .contentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    max-width: 1312px;
    margin: 0 auto;
    h3 {
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      padding: 50px 0;
    }
    h4 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #ffffff;
      padding: 60px 0;
    }
    nav {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .homeBtn {
        background: rgba(58, 188, 212, 0.6);
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .category {
        display: flex;
        position: relative;
        max-width: calc(100% - 80px);
        .nowPageWrap,
        .nowTabWrap,
        li {
          width: 256px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          padding: 0 10px;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.7);
          border-right: 1px solid rgba(255, 255, 255, 0.6);
          flex-basis: 50%;
          flex-shrink: 1;
          cursor: pointer;
          &.isOpen {
            background: rgba(58, 188, 212, 0.6);
            .subList {
              display: block;
            }
          }
          span {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            word-break: break-all;
          }
          img {
            width: 24px;
            height: 24px;
          }
          .subList {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(100%);
            display: none;
            z-index: 1;
            li {
              width: 100%;
              height: 60px;
              background: rgba(34, 34, 34, 0.7);
              border-bottom: 1px solid rgba(255, 255, 255, 0.6);
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              color: #ffffff;
              padding: 0 10px;
              cursor: pointer;
            }
          }
        }
      }
      .shadow {
        background: rgba(34, 34, 34, 0.7);
        flex-grow: 1;
      }
      @media screen and (max-width: 600px) {
        transform: translateY(30px);
        .homeBtn {
          width: 60px;
          height: 60px;
        }
        .category {
          max-width: calc(100% - 60px);
          .nowPageWrap,
          .nowTabWrap {
            position: unset;
            span {
              font-size: 14px;
              line-height: 17px;
            }
            .subList {
              li {
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1023px) {
    height: 509px;
    .contentArea {
      h3 {
        font-size: 36px;
        line-height: 44px;
        padding: 32px 0;
      }
      h4 {
        font-size: 31px;
        line-height: 39px;
        padding: 37px 0;
      }
    }
  }
  @media screen and (max-width: 600px) {
    height: 366px;
    .contentArea {
      justify-content: flex-start;
      padding-top: 100px;
      box-sizing: border-box;
      h3 {
        font-size: 24px;
        line-height: 29px;
        padding: 15px 0;
      }
      h4 {
        font-size: 24px;
        line-height: 29px;
        padding: 15px 0;
      }
    }
  }
}

section.content {
  padding: 0 16px;
}
.contentArea {
  max-width: 1312px;
  margin: 0 auto;
  // padding: 0 16px;
}

.fund,
.fundNow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 80px 0 150px;
  & > li {
    background: #ffffff;
    border: 1px solid #dddfe2;
    padding: 20px 10px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    & > * {
      transform-origin: left;
      transition: all 0.3s ease;
    }
    &:hover,
    &:active {
      & > * {
        transform: scale(1.05) !important;
      }
    }
    @media screen and (max-width: 767px) {
      padding: 20px 0 32px;
    }
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #090b0f;
      padding: 10px;
      margin-bottom: 44px;
      // text-align: center;
      // word-break: keep-all;
    }
    .detail {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      li {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #090b0f;
        padding: 6px 12px 6px 16px;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background: #090b0f;
        }
      }
    }
  }
  @media screen and (max-width: 1312px) {
    gap: 0;
  }
  @media screen and (max-width: 1023px) {
    padding-bottom: 115px;
    li {
      h2 {
        font-size: 19px;
        line-height: 23px;
      }
      .detail {
        li {
          padding: 4px 23px 4px 16px;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
    li {
      h2 {
        font-size: 14px;
        line-height: 17px;
      }
      .detail {
        li {
          padding: 4px 23px 4px 16px;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}
.invest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 0 150px;
  & > li {
    background: #ffffff;
    border: 1px solid #dddfe2;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    & > h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #090b0f;
    }
    & > img {
      max-width: 50%;
    }
    &:hover {
      .detailBox {
        opacity: 1;
      }
    }
    .detailBox {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: rgba(58, 188, 212, 0.6);
      backdrop-filter: blur(7.5px);
      transition: opacity 0.5s ease;
      h2,
      span {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: white;
      }
      h2 {
        font-weight: bold;
      }
      span {
        font-size: 16px;
        line-height: 20px;
      }
    }
    @media screen and (max-width: 1023px) {
      & > h2 {
        font-size: 19px;
        line-height: 23px;
      }
      .detailBox {
        h2 {
          font-size: 18px;
          line-height: 22px;
        }
        span {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      & > h2 {
        font-size: 16px;
        line-height: 20px;
      }
      .detailBox {
        h2,
        span {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.fundNow {
  & > li {
    .head {
      h2 {
        margin-bottom: 0;
        padding: 10px 10px 10px 23px;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          width: 3px;
          height: 18px;
          background: #090b0f;
        }
      }
      h3 {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #090b0f;
        padding: 10px;
      }
      @media screen and (max-width: 1023px) {
        h2 {
          padding-left: 10px;
          &::after {
            display: none;
          }
        }
        h3 {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}

.paginationList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0 207px;
  gap: 10px;
  li {
    cursor: pointer;
    position: relative;
    &.hit {
      width: 78px;
      height: 78px;
      border-radius: 50%;
      background: #5ad8ef;
      box-shadow: 0px 3px 20px rgba(58, 188, 212, 0.3);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 144px;

      &::after {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: #090b0f;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(calc(100% + 32px), -50%);
      }
      &:last-child {
        margin-right: 0;
        margin-left: 144px;
        &::after {
          right: unset;
          left: 0;
          transform: translate(calc(-1 * 100% - 32px), -50%);
        }
      }
    }
    &.onePage {
      margin-right: 0 !important;
      margin-left: 0 !important;
      &::after {
        display: none;
      }
    }
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #090b0f;
      padding: 10px;
    }
  }
  @media screen and (max-width: 1023px) {
    padding: 0px 0 143px;
    li {
      span {
        font-size: 20px;
        line-height: 24px;
      }
      &.hit {
        width: 70px;
        height: 70px;
        margin-right: 107px;
        &::after {
          width: 55px;
          transform: translate(calc(100% + 21px), -50%);
        }
        &:last-child {
          margin-left: 107px;
          &::after {
            transform: translate(calc(-1 * 100% - 32px), -50%);
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0px 0 80px;
    li {
      span {
        font-size: 16px;
        line-height: 19px;
      }
      &.hit {
        width: 60px;
        height: 60px;
        margin-right: 44px;
        &::after {
          width: 30px;
          transform: translate(calc(100% + 10px), -50%);
        }
        &:last-child {
          margin-left: 44px;
          &::after {
            transform: translate(calc(-1 * 100% - 10px), -50%);
          }
        }
      }
    }
  }
}

.animationList {
  position: relative;
  & > li {
    opacity: 0;
    transform: translate(0, 100px);
    transition: opacity 1s ease, transform 1s ease;
  }
  &.isShowing {
    & > li {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
.banner {
  .contentArea {
    h3,
    h4 {
      opacity: 0;
      transform: translate(0, 100px);
      transition: opacity 1s ease, transform 1s ease;
    }
    &.isShowing {
      h3,
      h4 {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
.observer {
  position: absolute;
  top: 20%;
  bottom: 20%;
}
